{
    "presets": ["@babel/preset-env"],
    "plugins": [
      ["module-resolver", {
        "alias": {
          "@/users": "./models/usersModel",
          "@/controllers": "./controllers",
          "@/utils": "./utils"
        }
      }]
    ]
  }
  